* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: -5px -5px 2px #eee, 5px 5px 2px #eee;
  color: hsla(0, 0%, 0%, 90%);
  font-size: 22px;
}
hgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: hsla(0, 0%, 0%, 90%);
}

dialog {
  padding: 0.4em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
  padding: 1em;
  font-size: 30px;
}
nav {
  position: sticky;
  top: 10px;
  background-color: green;
  z-index: 100;
}
main {
  flex: 4;
  line-height: 2em;
}

article > header {
  text-align: center;
  font-size: 24px;
}

h3 {
  font-size: 22px;
}
article {
  /* border: 1px solid #eee; */
  padding: 3em;
}
aside {
  flex: 1;
  margin: 0 auto;
  display: flex;
  padding: 3em;
  flex-direction: column;
  gap: 100px;
  border-left: 1px solid #eee;
}
aside h3 {
  font-weight: 300;
}
body > section {
  border: 1px solid #eee;
  height: 80%;
  display: flex;
  border: 1px solid hsl(0, 0%, 75%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
}

a:hover {
  color: hsla(0, 94%, 30%, 0.625);
}
footer {
  background-color: lightgreen;
}
